In [39]:
# Initial imports
import os # Miscellaneous operating system interfaces (os.getenv)
import requests # requests.get
import pandas as pd
from dotenv import load_dotenv #Reads the key-value pair from .env file and adds them to environment variable.
from pathlib import Path
import json # lightweight data interchange format 
import matplotlib.pyplot as plt

%matplotlib inline
import FundamentalAnalysis as fa
import alpaca_trade_api as tradeapi

In [40]:
# Load .env enviroment variables
load_dotenv()
from pathlib import Path
env_path = Path('C:/Users/Khemero/.env')

In [41]:
# Set FA API key
api_key = os.getenv("FA")

In [42]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [43]:
# Set the file path
sp_data = Path("Resources/sp.csv")

In [44]:
# Read whale returns csv
# Read the CSVs and set the `date` column as a datetime index to the DataFrame
sp_df = pd.read_csv(sp_data, index_col="Date", infer_datetime_format=True, parse_dates=True)
sp_df.sort_index(ascending = True, inplace = True)

In [45]:
# Drop nulls
sp_df = sp_df.dropna()
sp_df.head()

                        Open     High      Low    Close      Volume
Date
2019-01-02 16:00:00  2476.96  2519.49  2467.47  2510.03  2233765369
2019-01-03 16:00:00  2491.92  2493.14  2443.96  2447.89  2754752741
2019-01-04 16:00:00  2474.33  2538.07  2474.33  2531.94  2661709794
2019-01-07 16:00:00  2535.61  2566.16  2524.56  2549.69  2526552370
2019-01-08 16:00:00  2568.11  2579.82  2547.56  2574.41  2458286256

In [143]:
# Format current date as ISO format
today = pd.Timestamp("2020-07-31", tz="America/New_York").isoformat() 
start = pd.Timestamp("2019-01-01", tz="America/New_York").isoformat() #1/1/2019?
end = pd.Timestamp("2020-12-31", tz="America/New_York").isoformat() #31/12/2019?

# Set the tickers
tickers = ["TSLA", "NIO", "AAPL", "PFE", "MSFT", "MRNA", "ZM", "AMZN", "NNDM", "CRM", "NVDA"]
dict = {'stock':'', 'segment':''}  
marketcaps = {}
segments = {}
for stock in tickers:
    profile = fa.profile(stock, api_key) 
    try: 
        marketcaps[stock] = int(profile.iloc[22])
        segment = str(profile.iloc[26])[5:]
        segments[stock] = segment[:-28]
    except: continue
    

## Create the shares DataFrame with `tickers` as index
#df_shares = pd.DataFrame(shares_data, index=tickers)

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get current closing prices for SPY and AGG
df_portfolio = alpaca.get_barset(
    tickers,
    timeframe,
    start = today,
    end = today
).df

In [144]:
segments

{'TSLA': 'Consumer Cyclical',
 'NIO': 'Consumer Cyclical',
 'AAPL': 'Technology',
 'PFE': 'Healthcare',
 'MSFT': 'Technology',
 'MRNA': 'Healthcare',
 'ZM': 'Communication Services',
 'AMZN': 'Consumer Cyclical',
 'NNDM': 'Technology',
 'CRM': 'Technology',
 'NVDA': 'Technology'}

In [145]:
segments.

AttributeError: 'dict' object has no attribute 'index'

In [128]:
segments

{'TSLA': '0    Consumer Cyclical\nName: sector, dtype: object'}

In [126]:
segments

{'TSLA': 'Consumer Cyclical\nName: sector, dtype: object'}

In [146]:
marketcaps = pd.DataFrame(marketcaps.items(), columns=['stock', 'marketcap'])
segments = pd.DataFrame(segments.items(), columns=['stock', 'marketcap'])

In [107]:
marketcaps.head()

  stock      marketcap
0  TSLA   658791200000
1   NIO    72832279000
2  AAPL  2153362880000
3   PFE   209440506000
4  MSFT  1652649750000

In [147]:
segments

   stock               marketcap
0   TSLA       Consumer Cyclical
1    NIO       Consumer Cyclical
2   AAPL              Technology
3    PFE              Healthcare
4   MSFT              Technology
5   MRNA              Healthcare
6     ZM  Communication Services
7   AMZN       Consumer Cyclical
8   NNDM              Technology
9    CRM              Technology
10  NVDA              Technology

In [82]:
profile PFR

0    658791200000
Name: mktCap, dtype: object

In [91]:
#data cleaning
int(profile.iloc[22])

72832279000

In [101]:
profile2 = fa.profile("PFE", api_key)

In [102]:
26

                                                                   0
address                                                235 E 42ND ST
beta                                                         0.64294
ceo                                                Dr. Albert Bourla
changes                                                        -0.35
cik                                                       0000078003
city                                                   New York City
companyName                                               Pfizer Inc
country                                                           US
currency                                                         USD
cusip                                                      717081103
dcf                                                            37.31
dcfDiff                                                       -35.04
defaultImage                                                   False
description        Pfizer Inc. develops, manufactures, and sells ...
exchange                                     New York Stock Exchange
exchangeShortName                                               NYSE
fullTimeEmployees                                              88300
image              https://financialmodelingprep.com/image-stock/...
industry                                  Drug Manufacturers General
ipoDate                                                   1944-01-17
isin                                                    US7170811035
lastDiv                                                      1.44212
mktCap                                                  209440506000
phone                                                    12125732323
price                                                          37.68
range                                                26.451612-43.08
sector                                                    Healthcare
state                                                       NEW YORK
symbol                                                           PFE
volAvg                                                      42233695
website                                      https://www.pfizer.com/
zip                                                            10017

In [60]:
profile

address                                            2788 San Tomas Expy
beta                                                           1.53923
ceo                                                 Mr. Jen-Hsun Huang
changes                                                          -2.77
cik                                                         0001045810
city                                                       Santa Clara
companyName                                                NVIDIA Corp
country                                                             US
currency                                                           USD
cusip                                                        67066G104
dcf                                                            558.621
dcfDiff                                                         -95.03
defaultImage                                                      True
description          NVIDIA Corporation operates as a visual comput...
exchange                                          Nasdaq Global Select
exchangeShortName                                               NASDAQ
fullTimeEmployees                                                13775
image                https://financialmodelingprep.com/image-stock/...
industry                                                Semiconductors
ipoDate                                                     1999-01-22
isin                                                      US67066G1040
lastDiv                                                           0.64
mktCap                                                    328614707000
phone                                                      14084862000
price                                                           530.88
range                                                    180.68-589.07
sector                                                      Technology
state                                                       CALIFORNIA
symbol                                                            NVDA
volAvg                                                         9666525
website                                        https://www.nvidia.com/
zip                                                              95051
Name: 0, dtype: object

In [64]:
profile.index

Index(['address', 'beta', 'ceo', 'changes', 'cik', 'city', 'companyName',
       'country', 'currency', 'cusip', 'dcf', 'dcfDiff', 'defaultImage',
       'description', 'exchange', 'exchangeShortName', 'fullTimeEmployees',
       'image', 'industry', 'ipoDate', 'isin', 'lastDiv', 'mktCap', 'phone',
       'price', 'range', 'sector', 'state', 'symbol', 'volAvg', 'website',
       'zip'],
      dtype='object')

In [69]:
mktcap = profile.iloc[22]

In [ ]:
# # Collect general company information
# profile = fa.profile(ticker, api_key)

# # Collect recent company quotes
# quotes = fa.quote(ticker, api_key)

# # Collect market cap and enterprise value
# entreprise_value = fa.enterprise(ticker, api_key)

# # Show recommendations of Analysts
# ratings = fa.rating(ticker, api_key)

# # Obtain DCFs over time
# dcf_annually = fa.discounted_cash_flow(ticker, api_key, period="annual")
# dcf_quarterly = fa.discounted_cash_flow(ticker, api_key, period="quarter")

# # Collect the Balance Sheet statements
# balance_sheet_annually = fa.balance_sheet_statement(ticker, api_key, period="annual")
# balance_sheet_quarterly = fa.balance_sheet_statement(ticker, api_key, period="quarter")

# # Collect the Income Statements
# income_statement_annually = fa.income_statement(ticker, api_key, period="annual")
# income_statement_quarterly = fa.income_statement(ticker, api_key, period="quarter")

# # Collect the Cash Flow Statements
# cash_flow_statement_annually = fa.cash_flow_statement(ticker, api_key, period="annual")
# cash_flow_statement_quarterly = fa.cash_flow_statement(ticker, api_key, period="quarter")

# # Show Key Metrics
# key_metrics_annually = fa.key_metrics(ticker, api_key, period="annual")
# key_metrics_quarterly = fa.key_metrics(ticker, api_key, period="quarter")

# # Show a large set of in-depth ratios
# financial_ratios_annually = fa.financial_ratios(ticker, api_key, period="annual")
# financial_ratios_quarterly = fa.financial_ratios(ticker, api_key, period="quarter")

# # Show the growth of the company
# growth_annually = fa.financial_statement_growth(ticker, api_key, period="annual")
# growth_quarterly = fa.financial_statement_growth(ticker, api_key, period="quarter")

# # Download general stock data
# stock_data = fa.stock_data(ticker, period="ytd", interval="1d")

# # Download detailed stock data
# stock_data_detailed = fa.stock_data_detailed(ticker, api_key, begin="2000-01-01", end="2020-01-01")